:root {
    --background-color: #000000;
    --primary-color: #1b171e;
    --secondary-color: #221b2b;
    --tertiary-color: #2b203b;
    --accent-color: #ee7e27;
    --accent-color-glow: #ee7d27ab;
    --accent-hover-color: #fe893b;
    --success-color: #00ff00;
    --warning-color: #ffcc00;
    --danger-color: #ff0000;
    --text-color: #ffffff;
    --faint-text-color: #ffffff80;

    --glow-margin: 1rem;
    --regular-border-radius: 10px;
}

html, body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: #ffffff;
}


/* Header */
header {
    position: absolute;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 10vh;
}
#head-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 0rem;

    color: #000000;
    background-color: var(--accent-color);
}
#head-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#head-container a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 5px 10px;
    font-size: 1.5rem;

    transition-duration: 0.2s, 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, transform;
}
#head-container a:hover {
    background-color: var(--accent-hover-color);
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.1);
}

.background-home-image {
    background: linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0),
        var(--primary-color)
    ), 
    url("/static/images/home-banner.webp");
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
}
.header {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.header h1 {
    font-size: 8rem;
}

.logo {
    height: 50px;
    width: auto;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-menu { /* Hidden by default */
    position: absolute;
    top: 100%;
    left: calc(var(--glow-margin) * -1);

    background: var(--accent-hover-color);
    min-width: 150px;
    overflow: hidden;

    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;

    opacity: 0;
    height: 0;
    padding: 0px;

    transform: translateY(-10px);
    transition: height .5s ease-in-out, opacity .3s ease-in-out, transform .5s ease-in-out, padding .3s ease-in-out;
}
.dropdown-menu a {
    display: block;
    padding: 10px 15px;
    color: var(--text-color);
    transition: background .2s ease-in-out;
}
.dropdown-menu a:hover {
    background: var(--accent-hover-color);
}
.dropdown.active .dropdown-menu {
    opacity: 1;
    height: auto;
    transform: translateY(0);
    padding: 10px 0px;
}
.dropdown-toggle {
    cursor: pointer;
    padding: 10px;
    display: inline-flex;
    align-items: center;
}
.caret {
    margin-left: 5px;
    font-size: 12px;
    transition: transform .3s ease;
}
.dropdown.active .caret {
    transform: rotate(180deg);
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;

    padding: 0.5rem 0.5rem;

    background-color: var(--secondary-color);
}
footer ul {
    list-style-type: none;
}
footer > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
}
footer > ul > li {
    display: flex;
    flex-direction: row;
}
footer p {
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
}
footer > div {
    display: flex;
    justify-content: center;
}
footer > div > p {
    font-size: 1.25rem;
}

/* Main */
main {margin-bottom: 50px;}
.glow {
    margin: var(--glow-margin);
    border-radius: var(--regular-border-radius);
    border-width: 2px;
    border-color: var(--accent-color);
    border-style: solid;

    box-shadow: 0px 0px 10px 10px var(--accent-color-glow);
}
.glow.big {
    box-shadow: 0px 0px 25px 25px var(--accent-color-glow);
}
.small-icons svg {
    width: 70px;
    height: auto;
    fill: #ffffff;
}
.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: auto;
}
.white-fill {
    fill: #ffffff;
    color: #ffffff;
    font-weight: bold;
}
.display-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: auto;
    margin-left: 100px;
    margin-top: 200px;
    padding: 20px;
    width: 60%;
    
    border-radius: 20px;

    background-color: var(--secondary-color);
    position: relative;
}
.display-card:last-child {
    margin-bottom: 200px;
}
.display-card > div{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.display-card > div  h2 {
    font-size: 3rem;
    margin: 0px;
    margin-top: 10px;
}
.display-card > div > p {
    font-size: 1.5rem;
    margin: 0px;
    margin-top: 10px;
}
.display-card > div div.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.display-card > div:first-child {
    min-width: 635px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-card.left {
    margin-left: 100px;
    margin-right: auto;
}
.display-card.right {
    margin-left: auto;
    margin-right: 100px;
}


.card-title {
    font-size: 1.3rem;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.space-around {
    display: flex;
    justify-content: space-around;
}
.visit {
    width: 80%;
    margin-top: 0px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--accent-color);
    text-align: center;

    margin-bottom: 10px;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.top-buffer {
    margin-top: 40px;
}
.top-buffer.big {
    margin-top: 150px;
}
.skills {
    width: 400px;
    height: auto;
}
.text-center {
    text-align: center;
}



/*
* =================
*   Display sizes 
* =================
*/

/* Laptop L (1440px w)*/
@media (max-width: 1600px) {
    .display-card {
        width: 50%;
    }
    .display-card > div > p {
        font-size: 1.3rem;
    }
    .card-title {
        font-size: 1.2rem;
    }
    .small-icons svg {
        width: 40px;
    }
}
/* Transition to Laptop (1400px 2) */
@media (max-width: 1400px) {
    .small-icons svg {
        width: 30px;
    }
    .card-title {
        font-size: 1.1rem;
    }
}

/* Transition to Laptop (1300px w)*/
@media (max-width: 1300px) {
    .card-title {
        font-size: 1rem;
    }
    .display-card > div > p{
        font-size: 1.1rem;
    }
    .display-card > div:first-child {
        min-width: unset;
        width: 100%;
    }
}

/* Transition to Laptop (1100px w)*/
@media (max-width: 1100px) {
    .display-card {
        width: auto;
    }
    .display-card.left,
    .display-card.right {
        margin-left: 50px;
        margin-right: 50px;
    }
    .display-card > div > p {
        font-size: 1.5rem;
    }
    .card-title {
        font-size: 1.3rem;
    }
    .small-icons svg {
        width: 55px;
    }
}

/* Transition to Tablet (900px 2)*/
@media (max-width: 900px) {
    #head-container a {
        font-size: 1.2rem;
        margin: 5px 3px;
    }
    .card-title {
        font-size: 1.1rem;
    }
}