{% extends "base.html" %}

{% block title %}About Kyler{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block content %}
    <div id="about">
        <h2><span class="orange">About</span> Me</h2>
        <p>
            I'm Kyler, a <span class="orange">second-year</span> Computer Science student at Lakehead-Georgian (LUGC) 
            with <span class="orange">6 years of programming experience</span>. I'm passionate about creating Software 
            that simplifies everyday life and enjoy building web interfaces to make my solutions widely accessible. I'm 
            always eager to learn new technologies and <span class="orange">I'm currently seeking a 4-month co-op opportunity</span>.
            <br>
            <br>
            Throughout my academic journey and tutoring experience, I've developed strong <span class="orange">time management</span> 
            and <span class="orange">organizational skills</span>. Balancing coursework, tutoring, and personal projects has taught me 
            how to efficiently prioritize tasks and meet deadlines. While problem-solving I stay focused on what needs to be done which 
            allows me to adapt quickly in fast paced environments. Additionally, my experience working with students has strengthened 
            my <span class="orange">communication skills</span>, allowing me to explain complex concepts clearly and collaborate 
            effectively with peers and mentors.
        </p>
    </div>
    <div id="experience-container">
        <div id="experience" class="border-1 fill-primary">
            <div class="experience-nav">
                <h2 id="education-btn" class="active fill-secondary border-1">Education</h2>
                <h2 id="work-btn" class="fill-secondary border-1">Work</h2>
            </div>
            <div id="education">
                <div class="experience-card border-1 fill-secondary">
                    <div>
                        <h3 class="orange">SATEC @ W.A. Porter C.I.</h3>
                        <p class="text-fade">(2019 - 2023)</p>
                    </div>
                    <div>
                        <p>
                            Specialized in <span class="orange">Computer Science</span> 
                            with the following <span class="orange">accomplishments</span>:
                        </p>
                        <ol>
                            <li>Honours graduate<span class="text-fade">(80%+)</span></li>
                            <li>Co-operative education award</li>
                            <li>Completed ICT SHSM</li>
                            <li>President, Comp. Sci Club<span class="text-fade">(1 year)</span></li>
                            <li>President, Stage Crew<span class="text-fade">(3 years)</span></li>
                        </ol>
                    </div>
                </div>
                <div></div>
                <div></div>
                <div class="experience-card border-1 fill-secondary">
                    <div>
                        <h3 class="orange">Lakehead-Georgian</h3>
                        <p class="text-fade">(2023 - Present)</p>
                    </div>
                    <div>
                        <p>Pursuing B.Sc. in <span class="orange">Computer Science</span></p>
                        <ol>
                            <li>Current GPA: <span class="green">3.9/4.0</span></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div id="work" class="in-active">
                <div class="experience-card border-1 fill-secondary">
                    <div>
                        <h3 class="orange">Georgian Tutoring</h3>
                        <p class="text-fade">(January 2025 - Present)</p>
                    </div>
                    <div>
                        <p>
                            While studying I've been working as a Tutor at Georgian college in <span class="orange">Barrie, ON</span>.
                            My responsibilities include:
                        </p>
                        <ol>
                            <li>Being timely when creating reports and arriving to sessions early</li>
                            <li>Helping students with their Computer Science classes</li>
                            <li>Organizing my schedule in order to make sure I have enough time for school and tutoring</li>
                            <li>Communicate with students to ensure their success with their courses</li>
                        </ol>
                    </div>
                </div>
                <div></div>
                <div></div>
                <div class="experience-card border-1 fill-secondary">
                    <div>
                        <h3 class="orange">Rondeau Yacht Club</h3>
                        <p class="text-fade">(July 2021 - August 2024)</p>
                    </div>
                    <div>
                        <p>
                            <span class="orange">Summer employment</span> as a windsurfing instructor at RYC in <span class="orange">Blenheim, ON</span>.
                            My responsibilities included:
                        </p>
                        <ol>
                            <li>Teaching students new windsurfing skills</li>
                            <li>Collaborating with coworkers to develop and implement a comprehensive curriculum</li>
                            <li>Assessing each student's abilities and generating in-depth skill reports for each student</li>
                            <li>Effectively organize large groups of students and parents to perform activities</li>
                        </ol>
                    </div>
                </div>
                <div></div>
                <div></div>
                <div class="experience-card border-1 fill-secondary">
                    <div>
                        <h3 class="orange">Bayview</h3>
                        <p class="text-fade">(June 2020 - August 2024)</p>
                    </div>
                    <div>
                        <p>
                            <span class="orange">Summer employment</span> as a cashier at Bayview in <span class="orange">Blenheim, ON</span>.
                            My responsibilities included:
                        </p>
                        <ol>
                            <li>Resolving customer complaints and issues effectively</li>
                            <li>Maintaining a clean and organized store environment</li>
                            <li>Training new colleagues on store processes and operations</li>
                            <li>Managing keys and serving as the senior staff member on the floor</li>
                        </ol>
                    </div>
                </div>
                <div></div>
                <div></div>
                <div class="experience-card border-1 fill-secondary">
                    <div>
                        <h3 class="orange">Rosedale Computers</h3>
                        <p class="text-fade">(February 2023 - June 2023)</p>
                    </div>
                    <div>
                        <p>
                            <span class="orange">Co-op employment</span> as a computer repair technician at Rosedale Computers in 
                            <span class="orange">Toronto, ON</span>. My responsibilities included:
                        </p>
                        <ol>
                            <li>Identifying broken components and troubleshooting issues</li>
                            <li>Replacing broken components</li>
                            <li>Looking for new parts online</li>
                            <li>Setting up new software for customers</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/about.js"></script>
{% endblock %}

