#projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 90%;
}
#projects-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
}
#projects-page > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#projects-page > div:first-child > h1 {
    font-size: 4rem;
}
#projects-page > div:first-child > p {
    font-size: 2rem;
}

/* Media Queries */
@media (max-width: 900px) {
    #projects-page > div:first-child > h1 {
        font-size: 3rem;
    }
    #projects-page > div:first-child > p {
        font-size: 1.7rem;
    }
}
@media (max-width: 600px) {
    #projects-page > div:first-child > h1 {
        font-size: 2.5rem;
    }
    #projects-page > div:first-child > p {
        font-size: 1.5rem;
    }
}
@media (max-width: 500px) {
    #projects-page > div:first-child > h1 {
        font-size: 2rem;
    }
    #projects-page > div:first-child > p {
        font-size: 1.25rem;
    }
}
@media (max-width: 425px) {
    #projects-page {
        gap: 30px;
    }
    #projects-page > div:first-child > h1 {
        font-size: 1.5rem;
    }
    #projects-page > div:first-child > p {
        font-size: 1rem;
    }
}