#repo-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: auto;
}

#repo-title h1 {
    font-size: 3rem;
    color: var(--orange);
}
#repo-title p {
    font-size: 1.5rem;
    color: var(--text-fade);
    text-align: center;
}

#repo-details a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    height: 40px;
    font-size: 1.2rem;
    padding: 10px 20px;

    background-color: var(--primary-color);

    transition: transform 0.25s ease-in-out;
}
#repo-details a svg {
    height: inherit;
}
#repo-details a:hover {
    transform: scale(1.05);
}
#screenshots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    width: 50%;
}
#screenshots h2 {
    font-size: 2rem;
    width: max-content;
}

#images {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    gap: 10px;
}
#images img {
    display: none;
    border-radius: var(--regular-border-radius);
    width: 100%;
    height: auto;
}
#images img.active {
    display: block;
    object-fit: cover;
}

#language-bar {
    display: flex;
    width: 100%;
    height: 20px;
    border-radius: var(--regular-border-radius);
    overflow: hidden;
    margin-top: 20px;
}

.language-section {
    height: 100%;
    transition: transform 0.25s ease-in-out;
}

.language-section.highlight {
    transform: scale(1.1);
}

#language-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.language-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: var(--primary-color);
    border-radius: var(--regular-border-radius);
    transition: transform 0.25s ease-in-out;
}

.language-item.highlight,
.language-bar.highlight {
    transform: scale(1.1);
}

.language-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    #repo-title h1 {
        font-size: 2rem;
    }
    #repo-title p {
        font-size: 1rem;
    }
    #repo-details > div:nth-child(2) {
        width: 90%;
    }
    #screenshots {
        width: 80%;
    }
    #screenshots h2 {
        font-size: 1.25rem;
    }
}
@media (max-width: 500px) {
    #repo-title h1 {
        font-size: 1.5rem;
    }
    #repo-title p {
        font-size: 0.8rem;
    }
    #screenshots {
        width: 90%;
    }
    #screenshots h2 {
        font-size: 1.5rem;
    }
    .language-item {
        font-size: 0.8rem;
    }
    #repo-details > a > p {
        font-size: 0.9rem;
    }
}
@media (max-width: 375px) {
    #repo-title h1 {
        font-size: 1.25rem;
    }
    #repo-title p {
        font-size: 0.7rem;
    }
    #screenshots h2 {
        font-size: 1.25rem;
    }
    .language-item {
        font-size: 0.7rem;
    }
    #repo-details > a > p {
        font-size: 0.8rem;
    }
}