/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&display=swap');

/* Setup colors */
:root {
    --background-color: #000000;
    --primary-color: #1B171E;
    --secondary-color: #221B2B;
    --tertiary-color: #36323C;
    --orange: #EE7E27;
    --border-orange: #D6660F;
    --green: #00FF00;
    --const-color: #E402F1;

    --text-color: #FFFFFF;
    --text-fade: #959396cf;

    --success-color: #00FF00;
    --danger-color: #FF0000;

    --glow-margin: 1rem;
    --regular-border-radius: 20px;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Buenard", sans-serif;
    scroll-behavior: smooth;
}
header {width: 100%;}
body,
main {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    margin-top: 125px;
    gap: 200px;
}
footer {
    width: 100%;   
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
a {
    text-decoration: none;
    color: var(--text-color);
    height: auto;
    width: auto;
}
svg {
    width: auto;
    height: -webkit-fill-available;
}
svg.fill {fill: var(--text-color);}
h1, h2, h3, h4, p {
    margin: 0px;
    padding: 0px;
}

.border-1 {
    border-radius: var(--regular-border-radius);
    border-color: var(--border-orange);
    border-width: 1px;
    border-style: solid;
}
.border-2 {
    border-radius: var(--regular-border-radius);
    border-color: var(--orange);
    border-width: 2px;
    border-style: solid;
}
.green {color: var(--green);}
.orange {color: var(--orange);}
.text-fade {color: var(--text-fade)}
.const-color {color: var(--const-color);}
.fill-primary {background-color: var(--primary-color);}
.fill-secondary {background-color: var(--secondary-color);}
.fill-tertiary {background-color: var(--tertiary-color);}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: sticky;
    top: 10px;
    z-index: 10;
}
#head-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: -webkit-fill-available;
    gap: 15px;
}
#head-container > a {
    padding: 3px 15px;
    text-align: center;
    background-color: var(--background-color);
    cursor: pointer;
    font-size: 1.2rem;

    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    transition-property: color, background-color, font-weight, transform;
}
#head-container > a > p {
    margin: 0px;
    padding: 0px;
}
#nav-toggle {
    display: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: var(--background-color);
    width: -webkit-fill-available;
    height: 100%;
    text-align: center;
}
#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}
#nav-links > a {
    padding: 3px 20px;
    text-align: center;    
    background-color: var(--background-color);
    font-size: 1.3rem;

    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    transition-property: color, background-color, font-weight, transform;
}
#nav-links > a:hover,
#head-container > a:hover {
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--orange);
    transform: scale(1.1);
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;

    width: auto;
    margin-right: 20%;
}
#title > div:first-child > h1 {
    font-size: 4rem;
}
#title > div:first-child > p {
    font-size: 1.7rem;
}
#title > p {
    font-size: 1.2rem;
}
#title > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}
#title p, #title h1 {
    margin: 0px;
    padding: 0px;
}
#title-cta {
    display: flex;
    align-items: center;
    gap: 5px;
}
#title-cta > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#title-cta > a > svg {
    height: 40px;
}
#title-cta > a:last-child {
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;

    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-property: transform;
}
#title-cta > a:last-child:hover {
    transform: scale(1.1);
}

/* Homepage's projects */
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 25px 0px;
}
#projects > div:first-child > h2 {
    font-size: 3rem;
}
#projects > div:first-child > p {
    font-size: 1.7rem;
}
#projects > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#projects > div:first-child > h2,
#projects > div:first-child > p {
    margin: 0px;
    padding: 0px;
}
#projects > div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 90%;
    height: 390px;
}
.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;

    max-height: 360px;
    max-width: 380px;
    width: 100%;
    height: inherit;

    padding: 15px;
    cursor: default;

    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-property: transform;
}
.project-card > div > h3 {
    font-size: 1.5rem;
}
.project-card > div > p {
    font-size: 1.2rem;
}
.project-card:hover {
    transform: scale(1.05);
}
.project-card > div:nth-child(2) {
    max-width: 350px;
    height: 100%;
    cursor: pointer;
}
.project-card > img {
    max-height: 200px;
    height: -webkit-fill-available;
    width: auto;
    overflow: auto;
    margin: 0px auto;
    border-radius: var(--regular-border-radius);
    cursor: pointer;
}
.project-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 40px;
    width: 100%;
}
.project-langs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin-left: 20px;
}
.project-langs > * {
    margin-left: -15px;
    height: inherit;
}
.project-cta > div.border-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    height: inherit;
    width: auto;
    cursor: pointer;

    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-property: transform;
}
.project-cta > div.border-1:hover {
    transform: scale(1.05);
}
.project-cta > div.border-1 > p {
    width: auto;
    word-wrap: break-word;
}

/* Homepage go-to technologies */
#technologies {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#technologies > h2 {
    font-size: 3rem;
}
#technologies > div {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 15px;
}
.tech-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60px;
    width: 200px;
    padding: 10px;
    cursor: default;

    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-property: transform;
}
.tech-card:hover {
    transform: scale(1.1);
}
a.tech-card {
    cursor: pointer;
}
.tech-card h3 {
    font-size: 1.6rem;
}
.tech-card p {
    font-size: 0.9rem;
}

/* Homepage's about me */
#about {
    width: 60%;
}
#about > h2 {
    font-size: 3rem;
}
#about > p {
    font-size: 1.5rem;
}

/* Contact form */
#contact-footer {
    width: 100%;
}
#contact-footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    width: 80%;
}
#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
}
#contact-title > h1 {
    font-size: 3rem;
}
#contact-title > p {
    font-size: 1.4rem;
}
#contact-form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;

    gap: 5px;
}
#contact-form > div > input {
    width: -webkit-fill-available;
    padding: 5px 15px;
    height: 25px;
    border: none;
    color: var(--text-color);
    border-radius: var(--regular-border-radius);
}
#contact-form > div > textarea {
    width: -webkit-fill-available;
    height: 130px;
    padding: 5px 15px;
    border: none;
    resize: none;
    color: var(--text-color);
    border-radius: var(--regular-border-radius);
}
#contact-form > button {
    color: var(--text-color);
    width: -webkit-fill-available;
    padding: 10px 20px;
    font-size: 1.5rem;

    cursor: pointer;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-property: transform;
}
#contact-form > button:hover {
    transform: scale(1.04);
}
#contact-form label,
#contact-form input,
#contact-form textarea {
    font-size: 1.4rem;
}

#extra-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: 50%;
}
#extra-contact > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding: 20px;
}
#extra-contact > div > div {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 60%;
}
#extra-contact h3 {
    text-align: center;
}

/* Width resizing */
@media (max-width: 1230px) {
    #title {
        margin-right: 25%;
    }
    .project-cta {
        height: 35px;
    }
    #about {
        width: 70%;
    }
    #extra-contact {
        width: 70%;
    }
}
@media (max-width: 1024px) {
    #title {
        margin-right: 30%;
    }
    #about {
        width: 80%;
    }
    #contact-footer > div {
        width: 90%;
    }
}
@media (max-width: 950px) {
    #projects > div:last-child {
        height: auto;
        flex-direction: column;
    }
    #technologies > div {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    #contact-footer > div {
        flex-direction: column;
    }
    #extra-contact {
        flex-direction: row;
        width: 100%;
    }
    #extra-contact > div {
        width: -webkit-fill-available;
        height: 150px;
    }
    #extra-contact > div > div {
        width: 100%;
    }
}
@media (max-width: 768px) {
    #title {
        margin-right: 0px;
    }
}
@media (max-width: 700px) {
    #nav-links > a{
        font-size: 1.2rem;
    }
    #head-container > a {
        font-size: 1.1rem;
    }

    #title > div:first-child > h1 {
        font-size: 3.5rem;
    }
    #title > div:first-child > p {
        font-size: 1.3rem;
    }
    #projects > div:first-child > h2 {
        font-size: 2.5rem;
    }
    #projects > div:first-child > p {
        font-size: 1.5rem;
    }

    #technologies > h2 {
        font-size: 2.5rem;
    }

    #about > h2 {
        font-size: 2.5rem;
    }
    #about > p {
        font-size: 1.3rem;
    }

    #contact-title > h1 {
        font-size: 2.5rem;
    }
    #contact-title > p,
    #contact-form label,
    #contact-form input,
    #contact-form textarea,
    #contact-form > button {
        font-size: 1.3rem;
    }
}

@media (max-width: 500px) {
    /* Make navbar into a dropdown */
    header {
        top: 0px;
    }
    #nav-links {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
    }
    #nav-links a {
        padding: 10px;
        text-align: center;
    }
    #nav-toggle {
        display: block;
    }
    #head-container {
        width: -webkit-fill-available;
        gap: 0px;
    }
    #head-container.dropdown #nav-links {
        max-height: 300px;
        width: 100%;
        gap: 0px;
    }
    #head-container.dropdown #nav-links a {
        width: 100%;
        height: 100%;
        border-color: transparent;
        border-radius: 0;
    }
    #head-container > a{
        margin-top: 15px;
    }

    #title > div:first-child > h1 {
        font-size: 3rem;
    }
    #title > div:first-child > p {
        font-size: 1.2rem;
    }
    #title-cta > a:last-child {
        font-size: 1.2rem;
    }

    .project-card {
        width: 80%;
    }
    .project-card > div > h3 {
        font-size: 1.2rem;
    }
    .project-card > div > p {
        font-size: 1rem;
    }
    #projects > div:first-child > h2 {
        font-size: 2rem;
    }
    #projects > div:first-child > p {
        font-size: 1.25rem;
    }

    #technologies > div {
        grid-template-columns: repeat(1, 1fr);
    }
    #technologies {
        gap: 15px;
    }
    #technologies > h2 {
        font-size: 2rem;
    }

    #about > h2 {
        font-size: 2rem;
    }
    #about > p {
        font-size: 1.1rem;
    }

    #contact-title > h1 {
        font-size: 2rem;
    }
    #contact-title > p,
    #contact-form label,
    #contact-form input,
    #contact-form textarea,
    #contact-form > button {
        font-size: 1.1rem;
    }
    #extra-contact {
        flex-direction: column;
    }
    #extra-contact > div > div {
        width: 80%;
    }
}

@media (max-width: 425px) {
    main {
        gap: 150px;
    }

    #head-container > a {
        font-size: 1rem;
    }

    #title {
        width: 80%;
    }
    #title-cta {
        gap: 15px;
    }
    #title-cta > a > svg {
        height: 35px;
    }
    #title-cta > a:last-child {
        font-size: 1.1rem;
    }
    #title > div:first-child > h1 {
        font-size: 2.5rem;
    }
    #title > div:first-child > p {
        font-size: 1.2rem;
    }


    #projects > div:first-child > h2 {
        font-size: 1.7rem;
    }
    #projects > div:first-child > p {
        font-size: 1.15rem;
    }
    .project-card {
        gap: 15px;
    }
    .project-cta {
        height: 30px;
    }

    #technologies > h2 {
        font-size: 1.7rem;
    }
    .tech-card h3 {
        font-size: 1.4rem;
    }

    #about > h2 {
        font-size: 1.7rem;
    }
    #about > p {
        font-size: 1rem;
    }

    #contact-title > h1 {
        font-size: 1.7rem;
    }
    #contact-title > p,
    #contact-form label,
    #contact-form input,
    #contact-form textarea,
    #contact-form > button {
        font-size: 1rem;
    }
    #extra-contact > div {
        height: 125px;
    }
    #extra-contact > div > div {
        height: 50px;
    }
}

@media (max-width: 375px) {
    main {
        gap: 125px;
    }

    #head-container > a {
        font-size: 0.8rem;
    }

    #title {
        gap: 10px;
    }
    #title-cta {
        flex-wrap: wrap;
    }
    #title-cta > a:last-child {
        font-size: 1.1rem;
    }
    #title > div:first-child > h1 {
        font-size: 2.3rem;
    }
    #title > div:first-child > p {
        font-size: 1.1rem;
    }
    #title > p {
        font-size: 1rem;
    }

    #projects > div:first-child > h2 {
        font-size: 1.5rem;
    }
    .project-card > img {
        max-height: 150px;
    }

    #technologies > h2 {
        font-size: 1.5rem;
    }
    .tech-card h3 {
        font-size: 1.3rem;
    }

    #about > h2 {
        font-size: 1.5rem;
    }
    #about > p {
        font-size: 1rem;
    }

    #contact-footer {
        width: 90%;
    }
    #contact-title > h1 {
        font-size: 1.5rem;
    }
    #contact-title > p,
    #contact-form label,
    #contact-form input,
    #contact-form textarea,
    #contact-form > button {
        font-size: 1rem;
    }
    #contact-form > div > label {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #extra-contact > div {
        height: 100px;
        gap: 5px;
    }
    #extra-contact > div > div {
        height: 45px;
    }
}