<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Kyler's portfolio{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/styles.css ">
        <link rel="stylesheet" href="/static/css/contact.css">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <header>
            <nav id="head-container">
                <div>
                    <a class="logo" href="/">
                        <img class="logo" src="/static/images/logo.png" alt="Logo">
                    </a>
                    <a href="/">Home</a>
                    <a>About</a>
                    <a href="{{ url_for('projects') }}">Projects</a>
                </div>
                <div>
                    <a href="{{ url_for('contact') }}">Contact</a>
                    <a>Login / Register</a>
                </div>
            </nav>
        </header>
        <main>
            {% block content %}
            <h1>404 Page not found</h1>
            {% endblock %}
        </main>
        <footer>
            <div>
                <p>Quick links</p>
            </div>
            <ul>
                <li>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a>About</a></li>
                        <li><a href="{{ url_for('projects') }}">Projects</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                        <li><a>Login / Register</a></li>
                    </ul>
                </li>
            </ul>
            <p>&copy 2025 Kyler Visser</p>
        </footer>
        <script src="/static/js/contactScript.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>

