{% extends "base.html" %}

{% block title %} Kyler's portfolio {% endblock %}

{% block content %}
    <div class="background-home-image">
        <h1>Kyler. V</h1>
    </div>
    <div class="display-card left">
        <div>
            <h2>Who am i?</h2>
            <p>
                I am a student at Lakehead Georgian which is a split program between 
                Lakehead university and Georgian college for computer science. I am 
                currently in my second year of the program. I plan to graduate in 2027.
                Some skills I've picked up are the following:
            </p>
            <ul>
                <li>Database management</li>
                <li>Web development(html, css, js, php)</li>
                <li>Advanced Java development</li>
                <li>...</li>
            </ul>
            <a>show more</a>
        </div>
        <div>
            <img class="profile-pic" src="/static/images/kyler-profile-pic.jpg" alt="Picture of kyler">
        </div>
    </div>
    <div class="display-card right">
        <div>
            <h2>Projects</h2>
            <p>
                I've worked on many unique projects over the past few years. My most 
                recent projects that I've added to are the following repositories.
            </p>
            <div class="github-card-container">
                {% for project in projects %}
                    <div class="github-card">
                        <a class="repo-name" href="{{ project.html }}" target="_blank">
                            <h3>{{ project.name }}</h3>
                        </a>
                        <div class="repo-details">
                            <span class="repo-stars">★ {{ project.stars }} stars</span>
                            <span class="repo-forks">🍴 {{ project.forks }} forks</span>
                            <span class="repo-lang">{{ project.language }}</span>
                        </div>
                        <p class="repo-description">{{ project.description }}</p>
                        <a class="repo-visit" href="{{ project.html }}" target="_blank">Visit</a>
                    </div>
                {% endfor %}
                <div class="github-card fake-card">
                    <a>See more projects</a>
                </div>
            </div>
        </div>
        <div>
            <div class="github-card-profile">
                <div class="profile-header">
                    <img class="profile-pic" src="{{ account.avatar }}" alt="Kyler's GitHub profile picture">
                    <h3 class="profile-name">{{ account.username }}<span>{{ account.name }}</span></h3>
                </div>
                <div class="profile-details">
                    <span class="profile-followers">Followers: {{ account.followers }}</span>
                    <span class="profile-following">Following: {{ account.following }}</span>
                    <span class="profile-repos">Public Repos: {{ account.repos }}</span>
                </div>
                <a class="profile-visit" href="{{ account.url }}" target="_blank">View profile</a>
            </div>
        </div>
    </div>
{% endblock %}
