<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Kyler Visser">
        <meta name="robots" content="noindex, nofollow">
        <meta name="theme-color" content="#000000">

        <!-- Open Graph meta tags for social media sharing -->
        <meta property="og:site_name" content="Kyler Visser's Dashboard">
        <meta property="og:title" content="Kyler Visser's Dashboard">
        <meta property="og:description" content="Kyler Visser's dashboard for managing different things">
        <meta property="og:image" content="/static/images/logo.webp">
        <meta property="og:image:width" content="100">
        <meta property="og:image:height" content="100">
        <meta property="og:image:alt" content="Kyler Visser's Logo">
        <meta property="og:url" content="https://kyler.visserfamily.ca">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="en_CA">

        <!-- Twitter Card meta tags -->
        <meta name="twitter:site" content="@commanderkvi">
        <meta name="twitter:creator" content="@commanderkvi">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Kyler Visser's Dashboard">
        <meta name="twitter:description" content="Kyler Visser's dashboard for managing different things.">
        <meta name="twitter:image" content="/static/images/logo.webp">
        <meta name="twitter:image:alt" content="Kyler Visser's Logo">
        <meta name="twitter:image:width" content="100">
        <meta name="twitter:image:height" content="100">
        <meta name="twitter:url" content="https://kyler.visserfamily.ca">

        <!-- Other meta tags -->
        <link rel="canonical" href="https://kyler.visserfamily.ca">
        <link rel="apple-touch-icon" href="/static/images/logo.webp">

        <link rel="icon" href="/static/images/logo.webp" type="image/webp">
        <title>{% block title %}Kyler's Dashboard{% endblock %}</title>

        {% block styles %}{% endblock %}
        <link rel="stylesheet" href="/static/css/styles.css ">
    </head>
    <body>
        <header>
            <div id="flash-messages">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                        <div class="flash-message border-1">
                            <p>{{ msg }}</p>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </header>
        <main>
            {% block content %}
                {% if error is defined %}
                    <h1>Encountered error <span class="red">{{ error }}</span></h1>
                {% else %}
                    <h1><span class="red">404</span> Page not found</h1>
                {% endif %}
            {% endblock %}
        </main>
        <footer>
            <p class="text-fade">&copy 2025 Kyler Visser</p>
        </footer>
        {% block scripts %}{% endblock %}
    </body>
</html>

